<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperweb.space/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/style.css">
  </head>
  <body style="padding-bottom: 300px;">
    
    <div class="slider" style="border: 1px solid black; overflow: hidden; max-width: 600px;">
      <div data-zoom="https://974d871967607d4aab5a-36ea0f56f9b71f6483dc21518c0e56c7.ssl.cf3.rackcdn.com/10653383_display.jpg" class="zoom">
        <img src="https://974d871967607d4aab5a-36ea0f56f9b71f6483dc21518c0e56c7.ssl.cf3.rackcdn.com/10653383_display_506_613.jpg" />
      </div>
      <div data-zoom="https://974d871967607d4aab5a-36ea0f56f9b71f6483dc21518c0e56c7.ssl.cf3.rackcdn.com/10653383_display.jpg" class="zoom">
        <img src="https://974d871967607d4aab5a-36ea0f56f9b71f6483dc21518c0e56c7.ssl.cf3.rackcdn.com/10653383_display_506_613.jpg" />
      </div>
    </div>
    
    <a href="#" class="reset">Reset zoom</a><br><br>
    <a href="#" class="toggle">Toggle mouse zoom</a>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="/jquery.imagezoom.js"></script>
    <script>
      $('.slider').slick();
      $('.zoom').zoom({
        hideOnMouseOut: false
      });
      
      $('.reset').click(function () {
        $('.zoom').zoom('reset');
      });
      $('.toggle').click(function () {
        $('.slider').toggleClass('enableMouseZoom');
      });
    </script>

  </body>
</html>
